<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">

        <h2>Login Form</h2>

        <div>
            <p>Email</p>
            <input name="email" id="email" formControlName="email" placeholder="email@domain.com">

            <div class="errors"*ngIf="loginForm.get('email')?.touched" >

                <div *ngIf="loginForm.get('email')?.errors?.['required']">
                    Email is required
                </div>
    
                <div *ngIf="loginForm.get('email')?.errors?.['email']">
                    Email is invalid
                </div>
            </div>
        </div>
        <div>
            <p>Password</p>
            <input type="password" name="password" formControlName="password" placeholder="*******">
            
            <div class="errors"*ngIf="loginForm.get('password')?.touched" >

                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                    Password is required
                </div>

            </div>
        
        </div>
        <button [disabled]="!loginForm.valid">Login</button>
    </form>

</div>