<div class="form-container">

    <h2>Register</h2>

    <div class="input-fields">
        <h2>Email</h2>
        <input type="text" name="email" placeholder="email@domain.com">
    </div>
    <div class="input-fields">
        <h2>Username</h2>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="input-fields">
        <h2>Password</h2>
        <input type="text" name="password" placeholder="******">
    </div>
    <div class="input-fields">
        <h2>Repeat password</h2>
        <input type="text" name="rePass" placeholder="******">
    </div>
    
    
    
    

</div>
