

    <div class="home-container">
            
        <div class="home-information">
            <h1>Who are we?</h1>
            <p>
                ProjectOils has been established in 2022. The idea for this project comes after the long development of
                successful small family business. It only seemed logical that the next step would be to get established
                on the internet.
            </p>
            
            <h1>Our goal</h1>
            <p>
                Our mission is to bring to you and your home only the best and highest quality essential oils that are
                manufactured by small business
            </p>
        </div>
        <div class="logged" *ngIf="!isLogged">
            <ul>
                <li>
                    <a routerLink="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                </li>
                <li>
                    <a routerLink="/register">
                        <i class="fas fa-user-plus"></i>
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>

