<!-- <form [formGroup]="contactUs" class="form-container"` > -->
  <form [formGroup]="contactUs" (ngSubmit)="sendEmail()" class="form-container"> 
    <h1>
        Contact Us
    </h1>
    <div class="user-information">
        <div>
            <p>Insert name here</p>
            <input type="text" name="name" formControlName="name" placeholder="Full name">
            
            <div class="errors"*ngIf="contactUs.get('name')?.touched" >

                <div *ngIf="contactUs.get('name')?.errors?.['required']">
                    Name is required
                </div>

                <div *ngIf="contactUs.get('name')?.errors?.['minlength']">
                    Name is too short
                </div>
            </div>
        </div>
        <div>
            <p>Insert email here</p>
            <input type="email" formControlName="email" placeholder="Email">
           
            <div class="errors" *ngIf="contactUs.get('email')?.touched"> 
               <div *ngIf="contactUs.get('email')?.errors?.['required']">
                   Email is required
               </div>
               <div *ngIf="contactUs.get('email')?.errors?.['email']">
                   Email is invalid
               </div>
           </div>
        </div>
        
    </div>
    <div class="user-query">

        <div>
            <p>Subject:</p>
            <input type="text" formControlName="subject" placeholder="Type the subject here">
            
            <div class="errors" *ngIf="contactUs.get('subject')?.touched"> 
                <div *ngIf="contactUs.get('subject')?.errors?.['required']">
                    Subject is required
                </div>
                <div *ngIf="contactUs.get('subject')?.errors?.['maxlength']">
                    Subject is too long
                </div>
            </div>
        </div>


        <h2>
            Please type in your question here
        </h2>
        <textarea id="query" rows="8" cols="48" formControlName="query">

        </textarea>

        <div class="errors"*ngIf="contactUs.get('query')?.touched" >

            <div *ngIf="contactUs.get('query')?.errors?.['required']">
                Query is required
            </div>

            <div *ngIf="contactUs.get('query')?.errors?.['minlength']">
                Query is too short
            </div>
        </div>

    </div>
    <button [disabled]="!contactUs.valid">Submit</button>
</form>
