<div class="products-container">
    <form [formGroup]="createProductForm" (ngSubmit)="createProduct()">
        <h3>
            Create Product
        </h3>

        <div class="input-fields">
            <h3>Title</h3>
            <input type="text" name="title" formControlName="title" placeholder="Insert title here">

            <div class="errors" *ngIf="createProductForm.get('title')?.touched">

                <div *ngIf="createProductForm.get('title')?.errors?.['required']">
                    Title is required!
                </div>

                <div *ngIf="createProductForm.get('title')?.errors?.['maxlength']">
                    Title is too long!
                </div>

            </div>

        </div>
        <div class="input-fields">
            <h3>Image URL</h3>
            <input type="text" name="title" formControlName="imageUrl" placeholder="Insert image here">
            
            <div class="errors" *ngIf="createProductForm.get('imageUrl')?.touched">

                <div *ngIf="createProductForm.get('imageUrl')?.errors?.['required']">
                    Image URL is required!
                </div>
                <div *ngIf="createProductForm.get('imageUrl')?.errors?.['pattern']">
                    Image URL is invalid!
                </div>
           <!-- Add URL Validation -->
           <!-- {{createProductForm.get('imageUrl')?.errors?.['pattern'] | json}} -->
                
            </div>


        </div>
        <div class="input-fields">
            <h3>Price</h3>
            <input type="number" name="price" formControlName="price" placeholder="Insert price here">

            <div class="errors" *ngIf="createProductForm.get('price')?.touched">

                <div *ngIf="createProductForm.get('price')?.errors?.['required']">
                    Price is required!
                </div>

                <div *ngIf="createProductForm.get('price')?.errors?.['min']">
                    Price must be higher than 0.1!
                </div>

            </div>

        </div>

        <div class="input-fields">
            <h3>Description</h3>
            <textarea formControlName="description" rows="8" cols="48" name="description"></textarea>
            
            <div class="errors" *ngIf="createProductForm.get('description')?.touched">

                <div *ngIf="createProductForm.get('description')?.errors?.['required']">
                    Description is required!
                </div>

                <div *ngIf="createProductForm.get('description')?.errors?.['minlength']">
                    Description is too long!
                </div>

            </div>


        </div>

        <button [disabled]="!createProductForm.valid">Create</button>
    </form>

</div>