<nav class="navbar">
    <a href="javascript:void(0)"><img id="logo" src="https://www.bing.com/th?id=OIP.trEjg8Rw04w3qpKedUscPAAAAA&w=212&h=212&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"></a>
    
    <div class="internalNav">
        <a routerLink="/">Home</a>
        <a routerLink="/products">Products</a>
        <ng-container *ngIf="isLogged">
            <a routerLink="/contact-us">Contact Us</a>
        </ng-container>
    </div>
    <div class="authNav">
        <ng-container *ngIf="!isLogged">
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>            
        </ng-container>
        <ng-container *ngIf="isLogged">
            <a routerLink="/profile">Your profile</a>
            <a routerLink="/create">Create product</a>
            <a (click)="logout()">Logout</a>
        </ng-container>
    </div>
</nav>
