<nav class="navbar">
    <a href="javascript:void(0)"><img id="logo" src="https://www.bing.com/th?id=OIP.trEjg8Rw04w3qpKedUscPAAAAA&w=212&h=212&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"></a>
    
    <div class="internalNav">
        <a routerLink="/">Home</a>
        <a routerLink="/products">Products</a>
        <a routerLink="/shops">Shops</a>
        <a routerLink="/contact-us">Contact Us</a>
    </div>
    <div class="authNav">
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
        <a routerLink="/auth/logout">Logout</a>
    </div>
</nav>
