.navbar {
    display: flex;
    color: #ffffff;
    background-color:#7e3f96 ;
   
}
.internalNav {
    display: flex;
    padding-left: 30px;
    position:static;
}
.authNav { 
    display: flex;
    position:absolute;
    right: 0;
    padding-right: 15px;
}
.internalNav a {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    align-items:flex-start;
    font-size:large ;
}
.authNav a {
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size:large ;
    align-items:flex-start
}
#logo {
    display: inline-block;
    margin: 15px; /* margin: 20px was off */
    float: left;
    height: 60px;
    width: auto; /* correct proportions to specified height */
    border-radius: 50%; /* makes it a circle */
  }