<div class="product-container">
    <div class="product-title">
        <h2>
            LOREM IPSUM
        </h2>
        <div class="product-details">
            <img id="productImage" src="www.imagelink.com">
            <div>
                <p>Description:</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum alias tenetur nam accusamus cum veniam. Repellat facere voluptatem unde totam illo! Libero voluptates ab reiciendis qui facilis quibusdam fugit iure.</p>
            </div>
            <div class="special-details">
                <p>Location: <span>Mock Location</span></p>
                <p>Manufacturer: <span>Mock Manufacturer</span></p>

            </div>

        </div>

    </div>

</div>

