<div class="product-container">
    <div class="product-title">
        <li *ngFor="let product of products">

            <h2>
                {{product.title}}
            </h2>
            <div class="product-details">
                <img id="productImage" src={{product.imageUrl}}>
                <div>
                    <p>Description:</p>
                    <p>{{product.description}}</p>
                </div>
                <div class="special-details">
                    <p>Location: <span>Mock Location</span></p>
                </div>
    
            </div>
        </li>

    </div>

</div>

