.product-container {
    display: flex;
    gap: 90px;
    flex-wrap:wrap;
}
.product-container li{
    list-style: none;
}
#productImage{
    height: 250px;
    width: 350px;
}
.special-details{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.product-title{
    text-align: center;
}
#description{
  
    width: 350px;
}
.product-missing{
    width: 100%;
    max-width: 500px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: .3em solid rgb(79, 5, 131);
    border-radius: .5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
}
.product-missing a {
    color: white;
    text-decoration: none;
    background-color: #7e3f96;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
    place-items: center;
}