.product-container {
    display: flex;
    gap: 90px;
    flex-wrap:wrap;
}
.product-container li{
    list-style: none;
}
#productImage{
    height: 250px;
    width: 350px;
}
.special-details{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.product-title{
    text-align: center;
}
#description{
  
    width: 350px;
}